* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8193a5;
}

.jumbotron {
    text-align: center;
    margin-top: 30px;
    background-color: #1e3169;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.jumbotron h1 {
    padding: 10px;
    color: rgb(0, 0, 0);
}

.card {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: #586877;
}

.navbar .nav-link {
    color: rgb(0, 0, 0) !important;
}

.navbar .nav-link:hover {
    color: #8193a5 !important;
}