body {
    font-family: Arial, sans-serif;
}
.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}
.card-columns {
    column-count: 3;
}
@media (max-width: 767px) {
    .card-columns {
        column-count: 1;
    }
}
